<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form method="post" action="/addQuestion">
    <div>
        <input type="text" id="title" name="title" placeholder="Enter your Title"/>
    </div>

    <div>
        <input type="text" id="score" name="score" placeholder="Enter your Score"/>
    </div>

    <div>
        <a>Select Quiz Id</a> <br>
        <select name="quiz.id">>

            <option th:each="quiz: ${quizi}"
                    th:text="${quiz.id + ' ' + quiz.title}"
                    th:value="${quiz.id}">
            </option>
        </select>
    </div>

    <div>
        <a>QuestionType</a> <br>
        <select name="QuestionType" id="QuestionType">
            <option value="MULTI_SELECT">MULTI_SELECT</option>
            <option value="SINGLE_SELECT">SINGLE_SELECT</option>
        </select>
    </div>

    <input type="submit" class="fadeIn fourth" value="Register">

</form>

</body>
</html>