<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Quiz</title>
</head>
<body>

<a href="/admin">Back</a><br><br>

<form method="post" action="/addQuestionOption">

    <div>
        <a>Select Question Option Id</a> <br>
        <select name="question.id">>

            <option th:each="question: ${questions}"
                    th:text="${question.id + ' ' + question.title}"
                    th:value="${question.id}">
            </option>
        </select>
    </div>
    <div>
        <input type="text" id="title" name="title" placeholder="Enter your Title"/>
    </div>
    <div>
        <input type="text" id="isCorrect" name="isCorrect" placeholder="Enter your isCorrect"/>
    </div>

    <input type="submit" class="fadeIn fourth" value="Add">


</form>

</body>
</html>