<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div>
    <table border="1px">
        <tr>
            <th>id</th>
            <th>Title</th>
            <th>Score</th>
            <th>Quiz_Id</th>
            <th>QuestionType</th>

        </tr>

        <tr th:each="question: ${questions}">
            <td th:text="${questions.id}"></td>
            <td th:text="${questions.title}"></td>
            <td th:text="${questions.score}"></td>
            <td th:text="${questions.quiz_id}"></td>
            <td th:text="${question.questionType}"></td>

        </tr>
    </table>
    <br>
    <br>
</div>


</body>
</html>