<!doctype html>
<html lang="en">

<head>
    <title>Users</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    Fragment imports-->
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/style.css">

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

</head>

<body>


<div class="site-wrap" id="home-section">


    <div class="intro" th:each="user: ${users}">
        <h1><strong>Welcome</strong>
            <p th:text="${user.name + ' ' + user.surname}"></p></h1>
    </div>


    <a href="/quiz">Take the Quiz</a> <br><br>
    <div>
        <table border="1px">
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Password</th>
                <th>Role</th>
                <th>Edit</th>
            </tr>

            <tr th:each="user: ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.surname}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.userType}"></td>
                <td><a th:href="@{/users/edit(userId=${user.id})}">Edit</a></td>
            </tr>
        </table>
        <br>
        <br>
    </div>
</div>
</body>
</html>






























